@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
 
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins",sans-serif;
}

html{
  scroll-behavior: smooth;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0px !important;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  padding-top: 90px;
}

button{
  cursor: pointer;
}

.Header{
  width: 100%;
  height: 6rem;
  background-color: #080917;
  margin: auto;
  position: fixed;
  top: 0;
  z-index: 9999;
}

.nav-container{
  display: flex;
  max-width: 100%;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  height: 6rem ;

}

.nav-logo{
  display: flex;
  align-items: center;

}
.nav-logo-icon{
  font-size: 40px;
  color: white;
}

.nav-logo-text{
  font-size: 20px;
  color: #854ce6;
}

.nav-links a{
  text-decoration: none;
  margin-right: 15px;
  color: white;
}

.nav-links a:hover{
  color: #854ce6;
}

.btn-github{
  border-radius: 50px;
  padding: 10px 35px;
  background-color: #080917;
  color: #854ce6;
  border: none;
  font-size: 20px;
  border: 1px solid #854ce6 ;
}

.ham-menu{
  display: none;
}

@media screen and (max-width:700px){
  .ham-menu{
    display: inline-block;
  }

  .nav-web{
    display: none;
  }

  .nav-mobile{
    position: absolute;
    top: 10rem;
    width: 100%;
    left: 0;
    background-color: rgb(177, 135, 135);
  }

  .btn-github{
    display: none;
  }

  .nav-mobile a{
    display: flex;
    flex-direction: column;
    align-items: center;

    & a :first-child{
    margin-top: 1.2rem;
  }

  & a:last-child{
    margin-bottom: 1.2rem;
  }
  }
}

/* Herosection */
.hero-containner{
  width: 100%;
  background-color:#080917;
}

.hero-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  width: 80%;
  margin: auto;
  padding-top: 40px;
}

.hero-title{
  font-size: 30px;
  padding-bottom: 15px;
  color: white;
}

.hero-loop{
  font-size: 2rem;
  font-weight: 500;
  display: inline;
  color: white;
}

.hero-row{
  font-size: 2rem;
  font-weight: 600;
  display: inline;
  color: #854ce6;
}

.hero-description{
  margin-top: 2rem;
  color: #8E8F96;

}

.hero-left{
  width: 45%;
}

.hero-right{
  width: 50%;
}

.resume-btn{
  margin-top: 2rem;
  padding: 20px 70px;
  border-radius: 4rem;
  background: hsla(271, 100%, 50%, 1);
  background: linear-gradient(225deg, hsla(271, 100%, 50%, 1) 0%, hsla(294, 100%, 50%, 1) 100%);
  background: -moz-linear-gradient(225deg, hsla(271, 100%, 50%, 1) 0%, hsla(294, 100%, 50%, 1) 100%);
  background: -webkit-linear-gradient(225deg, hsla(271, 100%, 50%, 1) 0%, hsla(294, 100%, 50%, 1) 100%);

  color: white;
  border: none;
}

.hero_img{
  width: 400px;
  height: 350px;
  font-weight: 400px;
  border: 5px solid #854ce6;
  border-radius: 50%;
}


@media screen and (max-width:700px){
  .hero-section{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 95%;
  }

  .hero_img{
    display: flex;
    align-items: center;
    max-width: 50%;
    height: 280px;
    margin: auto;
  }

  .hero-right,.hero-left{
    width: 100%;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* SKILL */

.skill-container{
  max-width: 100%;
  background-color: #080917;
}

.skill-section{
  width: 100%;
  padding-top: 1rem;
  margin: auto;
}

.skill-section h1{
  text-align: center;
  color: white;
  font-size: 50px;
}

.skill-section P{
  padding-top: 1rem;
  color: white;
}

/* SKILLCARD */

.skillcard-container{
  max-width: 100%;
  width: 80%;
  margin: auto;
}

/* Skill card styling */
.skillcard-section {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem; /* Space between cards */
  justify-content: center;
  padding: 2rem;
}

.skillcard-inner {
  background-color: #180C34;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 2rem;
  width: 280px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  text-align: center;
}

.skillcard-inner:hover {
  transform: translateY(-8px);
}

/* Skill card title styling */
.skillcard-inner h3 {
  font-size: 2rem;
  color: white;
  margin-bottom: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
}

/* Flex layout for skill items */
.skillcard-flex {
  display: flex;
  flex-wrap: wrap; /* Enables wrapping to the next row */
  gap: 1rem; /* Space between skill items */
  justify-content: space-between; 
 
}

/* Skill item inside the flex container */
.skill-item {
  display: flex;
flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  transition: background-color 0.3s;
  background-color: white;
  border-radius: 8px;
  border: 1px solid white;
}

/* .skill-item:hover {
  background-color: #eef2ff;
  box-shadow: 2px 5px 10px white;
} */

/* Skill icon styling */
.skillcard-img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 0.5rem;
}

/* Skill name text */
.skill-item-text {
  font-size: 1.5rem;
  color: #555;
  font-weight: 500;
  text-align: center;
}

/* EXPERIENCE */

.exper-container{
  width: 100%;
  background-color: #180C34;
  /* height: 400px; */
}

.exper-section{
  padding-top: 20px;
  text-align: center;
}

.exper-section img{
  width: 100px;
}

.exper-title{
  color: white;
  font-size: 50px;
}

.exper-section .exper-role{
  font-size: 20px;
}

.exper-section h1{
  font-size: 50px;
}

.exper-desc{
  color: black;
}

/* PROJECT */

.project-container{
  background-color: #080917;
  max-width: 100%;
  margin: auto;
}

.project-section h1,p{
  padding-bottom: 2rem;
  text-align: center;
  color: white;
}

.project-section h1{
  padding-bottom: 2rem;
  padding-top: 2rem;
  text-align: center;
  color: white;
}

/* project-card */

.projectcard-container{
  max-width: 100%;
}

.projectcard-section{
  max-width: 100%;
  width: 80%;
  margin: auto;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  cursor: pointer;
  /* background-color: #180C34; */
}
.projectcard-inner{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #854ce6;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) ;
  overflow: hidden;
  transition: transform 0.3s ease;
  width: 300px;
  margin: 1rem;
  border-radius: 1rem;
    background-color: #181823;
}

.project-titles{
  font-size: 50px;
}

.pcard-tag{
  color: #854ce6;
}

.pcard-date{
  color: #555;
}

.pcard-desc{
  color: #555;
}

.projectcard-inner:hover{
  transform: translate(-8px);
}

.pcard-img{
  width: 100%;
  height: 200px;
  padding: 2rem;
  object-fit: cover;
  border-radius: 3rem;
}

.projectcard-item{
  padding: 2rem;
  display: flex;
  flex-direction: column;
  text-align: center;

}

.projectcard-item h3,p{
  font-size: 15px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.pcard-tag{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 1.2rem;
  font-weight: 600;
}

.pcard-title {
  font-size: 1.8rem;
  font-weight: bold
}

.pcard-date {
  font-size: 1.1rem;
}


@media screen and (max-width: 768px) {
  .projectcard-section {
    flex-direction: column;
    align-items: center;
  }

  .projectcard-inner {
    width: 90%; /* Full width on smaller screens */
    margin-bottom: 2rem;
  }
}

/* Education */

.educs-container{
  padding-top: 3rem;
  max-width: 100%;
  background-color: #080917;
  text-align: center;
}

.educ-title{
  color: white;
  font-size: 50px;
}

.educas-item-top{
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 20px;
  align-items: center;
  padding-bottom: 1rem;
}

.educas-item-bottom .educs-para{
  color: black;
}
.educas-item-top img{
  width: 40px;
}

.educas-item-bottom h3,h2,p{
text-align: left;
}

/* CONTACT */

.contact-container{
  max-width: 100%;
  background-color: #130F32;
  padding-bottom: 40px;
}

.contact-section{
  max-width: 100%;
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 2rem;
}

.contact-section h1{
  color: white;
  font-size: 50px;
}

.form-section{
  max-width: 100%;
  width: 40%;
  border: 2px solid #555;
  margin: auto;
  padding: 15px;
  border-radius: 1.4rem;
  
}

.form-section h1{
  color: white;
}

.contactform-item form{
  display: flex;
  flex-direction: column;
}

.contactform-item .form-input{
  padding: 20px;
  border-radius: 1.4rem;
  margin: 10px;
  border: none;
}

.contactform-item .form-message{
  padding-block: 50px;
  border-radius: 1.4rem;
  margin: 10px;
  
}

.form-section button{
  margin: 10px;
  padding: 20px;
  border-radius: 1.4rem;
  border: none;
  background: hsla(271, 100%, 50%, 1);
  background: linear-gradient(225deg, hsla(271, 100%, 50%, 1) 0%, hsla(294, 100%, 50%, 1) 100%);
  background: -moz-linear-gradient(225deg, hsla(271, 100%, 50%, 1) 0%, hsla(294, 100%, 50%, 1) 100%);
  background: -webkit-linear-gradient(225deg, hsla(271, 100%, 50%, 1) 0%, hsla(294, 100%, 50%, 1) 100%);
}
